<form action="/create" method="POST">
    <h2>New to-do</h2>

    <div class="input-field">
        <input type="text" name="title">
        <label for="Todo title"></label>
    </div>

    <button type="submit" class="btn btn-orange" style="float: right;">Add</button>
</form>